<a id="{{ section["name"] }}"></a>
<div class="jumbotron p-3 p-md-2 text-white section-jumbo {{ section["name"] }}-style">
    <div class="content section-content">
        <div class="row section-row">

            {% if section["type"] == "splash" %}

                {% include "main/partials/sections/splash/main.html" %}

            {% endif %}

            {% if section["type"] == "split" %}

                {% include "main/partials/sections/split/main.html" %}

            {% endif %}

            {% if section["type"] == "contact" %}

                {% include "main/partials/sections/contact/main.html" %}

            {% endif %}

            {% if section["type"] == "list" %}

                {% include "main/partials/sections/list/main.html" %}

            {% endif %}

        </div>
    </div>
</div>
