<a id="{{ section["name"] }}" class="id-anchor"></a>
<div class="jumbotron p-3 p-md-2 text-white section-jumbo {{ section["name"] }}-style"
    {% if section['bg-color'] %}
     style="background: {{ section['bg-color'] }}"
    {% endif %}>
    <div class="content section-content">
        <div class="row section-row">

            {% if section["type"] == "splash" %}

                {% include "main/partials/sections/splash/main.html" %}

            {% endif %}

            {% if section["type"] == "vertical_split" %}

                {% include "main/partials/sections/split/vertical/main.html" %}

            {% endif %}

            {% if section["type"] == "horizontal_split" %}

                {% include "main/partials/sections/split/horizontal/main.html" %}

            {% endif %}

            {% if section["type"] == "contact" %}

                {% include "main/partials/sections/contact/main.html" %}

            {% endif %}

            {% if section["type"] == "list" %}

                {% include "main/partials/sections/list/main.html" %}

            {% endif %}

        </div>
    </div>
</div>
