<a id="services-section"></a>
<br>
<div class="jumbotron p-3 p-md-2 text-white rounded bg-dark">
    <div class="container content">
        <div class="row section-row">
            <div class="col-sm">
                <h1 class="display-4 font-italic">services</h1>
                <p class="lead my-3">
                    Kerberus is a development company owned by Aaron Michael Souer and Lincoln Hach Yellick.
                    As a team we create and publish custom applications for the general public. In addition to our own
                    applications we provide a number of services to help your business grow.
                </p>
            </div>
            <div class="col-sm">
                <p class="lead my-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Sharepoint Development & Consulting</h5>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Building and Maintaining Web Sites</h5>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Integration and Automation of Line of Business Application</h5>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Building Restful APIs Above Your Technologies</h5>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
