{% extends "layout.html" %}


{% block head %}

    <!-- Custom styles for this page included below -->

{% endblock %}


{% block body %}


    {% include "partials/sections/header.html" %}

    <main>

        {% for section in sections %}
            {% include "partials/sections/section.html" %}
        {% endfor %}

        {% include "partials/sections/footer.html" %}

    </main>

{% endblock %}

{% block foot %}

    {% include "partials/modals/contact.html" %}
    {% include "partials/bootstrap/js.html" %}

{% endblock %}
