{% extends "layout.html" %}


{% block head %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% endblock %}


{% block body %}

    <div class="container container-head">

        <header class="header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-9 pt-1">
                    <a class="header-link" id="home-link" href="#top">kerberus <i id="home-bullet" class="fas fa-circle logo-bullet active"></i> io</a>
                </div>
                <div class="col-1 text-right">
                    <a class="header-link" id="about-link" href="#about-section">about</a>
                </div>
                <div class="col-1 text-right">
                    <a class="header-link" id="services-link" href="#services-section">services</a>
                </div>
                <div class="col-1 text-right">
                    <a class="header-link" id="contact-link" href="#contact-section">contact</a>
                </div>
            </div>
        </header>

    </div>

{#        <br>#}
        <br>
        <br>

    <div class="container">
        <main>
            {% include "partials/sections/home.html" %}
            {% include "partials/sections/about.html" %}
            {% include "partials/sections/services.html" %}

        <div class="row mb-2">

        <a id="contact-section"></a>
        {% for owner in owners %}

            {% include "partials/owner_card.html" %}

        {% endfor %}

        </div> <!-- End of Owner Cards -->

            {% include "partials/sections/contact.html" %}

        <footer class="footer">
            <div class="container">
                <span>Copyright &copy; 2018 - Kerberus LLC</span>
            </div>
        </footer>
        </main><!-- /.container -->

    </div>

{% endblock %}

{% block foot %}

    {% include "partials/contact_modal.html" %}
    {% include "partials/bootstrap_js.html" %}

{% endblock %}
