<div>
    <ul class="list-group">
        <li class="list-group-item active">List Items</li>
        {% for item in section['items'] %}
            <div>
                <li class="list-group-item">
                    {{ item['title'] }}
                </li>
            </div>
        {% endfor %}


        <div>
            <li class="list-group-item">
                <nav class="navbar navbar-light bg-light justify-content-end">
                    <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#new-list-modal">
                        <i class="fas fa-plus"></i>
                    </a>
                </nav>
            </li>
            {% with modal={ "id": "new-list", "title": "New List Item" }, parent={"id": section['id']} %}
                {% include 'admin/partials/modals/list/item/new.html' %}
            {% endwith %}
        </div>



    </ul>

</div>