{% extends "admin/layout.html" %}

{% block body %}
<div class="portal-background">
    <div class="container">
        <div class="row portal-row justify-content-center">

            <div class="col-md-6 align-self-center">

                <div class="row justify-content-center">

                    <div class="col-10 align-self-center">
                        <div class="card mb-4 box-shadow h-md-250 portal-card">

                            <h5 class="card-header">
                                Create Admin
                            </h5>

                            <form method="post" action="{{ url_for('setup') }}" id="login_form">
                                <div class="form-group portal-form">
                                    <input type="text" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="email">
                                </div>
                                <div class="form-group portal-form">
                                    <input type="text" name="user" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="username">
                                </div>
                                <div class="form-group portal-form">
                                    <input type="password" name="password" class="form-control" id="InputPassword1" placeholder="password">
                                </div>
                            </form>

                            <div class="portal-button-bar portal-card-button">
                                <button type="submit" class="btn align-self-end" form="login_form">create</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}