<form id="{{ modal['id'] }}-form" action="{{ url_for('sections') }}" method="post">
    <div class="form-group">
        <input type="hidden" name="type" value="7">
        <input type="text" class="form-control" name="name" placeholder="name">
        <label>Left Pain</label>
    </div>
    <div class="form-group">
        <select class="form-control select-nav" name="section-a">
            <option data-target="#splash-a" value="1">Splash</option>
            <option data-target="#list-a" value="2">List</option>
            <option data-target="#image-a" value="3">Image</option>
            <option data-target="#cards-a" value="4">Cards</option>
            <option data-target="#icons-a" value="5">Icon</option>
            <option data-target="#text-a" value="6">Text</option>
        </select>
    </div>

    <div class="tab-content">
        {% with panel='-a' %}
            <div class="tab-pane show active" id="splash-a" role="tabpanel" aria-labelledby="splash-tab-a">
                {% include 'admin/partials/modals/split/types/splash.html' %}
            </div>
            <div class="tab-pane" id="list-a" role="tabpanel" aria-labelledby="list-tab-a">
                {% include 'admin/partials/modals/split/types/list.html' %}
            </div>
            <div class="tab-pane" id="image-a" role="tabpanel" aria-labelledby="image-tab-a">
                {% include 'admin/partials/modals/split/types/image.html' %}
            </div>
            <div class="tab-pane" id="cards-a" role="tabpanel" aria-labelledby="cards-tab-a">
                {% include 'admin/partials/modals/split/types/cards.html' %}
            </div>
            <div class="tab-pane" id="icons-a" role="tabpanel" aria-labelledby="icons-tab-a">
                {% include 'admin/partials/modals/split/types/icons.html' %}
            </div>
            <div class="tab-pane" id="text-a" role="tabpanel" aria-labelledby="text-tab-a">
                {% include 'admin/partials/modals/split/types/text.html' %}
            </div>
        {% endwith %}
    </div>


    <div class="form-group">
        <label>Right Pain</label>
        <select class="form-control select-nav" name="section-b">
            <option data-target="#splash-b" value="1">Splash</option>
            <option data-target="#list-b" value="2">List</option>
            <option data-target="#image-b" value="3">Image</option>
            <option data-target="#cards-b" value="4">Cards</option>
            <option data-target="#icons-b" value="5">Icon</option>
            <option data-target="#text-b" value="6">Text</option>
        </select>
    </div>

    <div class="tab-content">
        {% with panel = '-b' %}
            <div class="tab-pane show active" id="splash-b" role="tabpanel" aria-labelledby="splash-tab">
                    {% include 'admin/partials/modals/split/types/splash.html' %}
            </div>
            <div class="tab-pane" id="list-b" role="tabpanel" aria-labelledby="list-tab">
                {% include 'admin/partials/modals/split/types/list.html' %}
            </div>
            <div class="tab-pane" id="image-b" role="tabpanel" aria-labelledby="image-tab">
                {% include 'admin/partials/modals/split/types/image.html' %}
            </div>
            <div class="tab-pane" id="cards-b" role="tabpanel" aria-labelledby="cards-tab">
                {% include 'admin/partials/modals/split/types/cards.html' %}
            </div>
            <div class="tab-pane" id="icons-b" role="tabpanel" aria-labelledby="icons-tab">
                {% include 'admin/partials/modals/split/types/icons.html' %}
            </div>
            <div class="tab-pane" id="text-b" role="tabpanel" aria-labelledby="text-tab">
                {% include 'admin/partials/modals/split/types/text.html' %}
            </div>
        {% endwith %}
    </div>
</form>
